<ion-view view-title="Actualités">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear fa fa-list-ul" >
    </button>
    <button class="button button-icon button-clear fa fa-ellipsis-v" ng-click = "openPopover($event)">

    </button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-content>
  <div class="list">
    <ion-item ng-repeat="info in infos" class="card">

      <div class="item item-avatar">

        <img ng-src="https://recette-leo.entcore.org{{info.thread_icon}}"/>
        <h2>{{info.title}}</h2>
        <p>{{info.publication_date}}</p>
      </div>

      <div class="item item-body" ng-bind-html=renderHtml(info.content)>
      </div>

      <div class="item">
        <a href="#" class="subdued" ng-include={{info.comments}}></a>

      </div>
    </ion-item>
  </div>
</ion-content>
</ion-view>
