<ion-view view-title="Actualités" ng-controller="InfosCtrl">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear fa fa-list-ul"  ng-click="goThreads()" >
    </button>
    <button class="button button-icon button-clear fa fa-ellipsis-v" ng-click = "openPopover($event)">
    </button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-content>
  <div class="list">

    <ion-item ng-repeat="info in filtered=(infos | filter:filterByStatus)" class="card">

      <div class="item item-avatar">

        <img ng-src="https://recette-leo.entcore.org{{info.thread_icon}}" alt="icone {{info.thread_title}}"/>
        <h2>{{info.title}}</h2>
        <h3>{{info.username}}</h3>
        <p>{{info.publication_date | date:'d MMMM y'}}</p>
      </div>

      <div class="item item-text-wrap" ng-bind-html=renderHtml(info.content)>
      </div>

      <div class="item">
        <a href="#" class="subdued" > {{(info.comments).length}} Commentaires</a>
      </div>
    </ion-item>
  </div>
</ion-content>
</ion-view>
