<ion-view view-title="Blogs">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear fa fa-list"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Actualiser" on-refresh="doRefreshBlogs()">
    </ion-refresher>

    <ion-list>

      <a ng-repeat="blog in blogs track by $index" class="item item-thumbnail-left item-text-wrap" href="#/app/blog/id/{{blog._id}}">
        <img ng-src="{{getImageUrl(blog.thumbnail)}}"/>
        <h2>{{blog.title}}</h2>
        <h3>{{ blog.description }}</h3>
        <h4>{{ blog.author.username }}</h4>
      </a>

    </ion-list>

  </ion-content>
</ion-view>
