
<ion-view view-title="Connexion">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nom de l'utilisateur</span>
        <input type="text" placeholder="john.smith" ng-model="loginData.username">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Mot de passe</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <div class="item">
        <button class="button button-block" ng-click="doLogin()">Se connecter</button>
      </div>
    </div>
  </ion-content>
</ion-view>
