
<ion-view view-title="Credentials">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="john.smith" ng-model="loginData.username">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <div class="item">
        <button class="button button-block" ng-click="doLogin()">Login!</button>
      </div>
    </div>
  </ion-content>
</ion-view>
