<ion-view title="Détail" ng-controller="MessagesDetailCtrl">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear fa fa-trash" ng-click = "trash(mail.id)"></button>
    <button class="button button-icon button-clear pencilicon-" ng-show="isDraft()" ng-click = "editMail()"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="item">
      <h2>{{mail.subject}}</h2>
      <h3>{{mail.systemFolders}}</h3>
    </div>

    <div class="item item-text-wrap">
      <div class="header-mail">
        <h2>De: {{getRealName(mail.from, mail)}}<h2>
          <span>A: {{getRealName(mail.to, mail)}}</span>  <span ng-show=mail.cc.length!=0>, {{getRealName(mail.cc, mail)}}</span>
        </div>

        <div ng-bind-html= "renderHtml(mail.body)"></div>

        <div class="list" ng-show=mail.attachments.length!=0>

            <div ng-repeat="attachment in mail.attachments track by $index" class="pj">

              <button class=" button icon-left downloadicon- attachment item-text-wrap" ng-click="downloadAttachment(attachment.id)" >
                <p> {{attachment.filename}}</p>
              </button>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-view>
