<ion-view view-title="Messagerie">

  <ion-content>
    <ion-refresher pulling-text="Actualiser" on-refresh="doRefreshFolders()">
    </ion-refresher>
    <div class="list">
      <ion-item href="#/app/messagerie/INBOX" >
        <i class="foldericon-"></i>
        Boîte de réception
      </ion-item>
      <ion-item href="#/app/messagerie/OUTBOX">
        <i class="foldericon-"></i>
        Messages envoyés
      </ion-item>
      <ion-item href="#/app/messagerie/DRAFT">
        <i class="foldericon-"></i>
        Brouillons
      </ion-item>
      <ion-item href="#/app/messagerie/TRASH">
        <i class="foldericon-"></i>
        Corbeille
      </ion-item>

      <div class="item item-divider"></div>

      <ion-item href="" ng-repeat="folder in folders track by $index">
        <i class="foldericon-"></i>
        {{folder.name}}
      </ion-item>
    </div>
  </ion-content>
</ion-view>
