<ion-view view-title="Messagerie"  ng-controller="MessagerieFoldersCtrl">

  <ion-content>
    <ion-refresher pulling-text="Actualiser" on-refresh="doRefreshFolders()">
    </ion-refresher>

    <div class="list">
      <ion-item href="#/app/messagerie/folder/INBOX" >
        <i class="foldericon-"></i>
        Boîte de réception
      </ion-item>
      <ion-item href="#/app/messagerie/folder/OUTBOX">
        <i class="foldericon-"></i>
        Messages envoyés
      </ion-item>
      <ion-item href="#/app/messagerie/folder/DRAFT">
        <i class="foldericon-"></i>
        Brouillons
      </ion-item>
      <ion-item href="#/app/messagerie/folder/TRASH">
        <i class="foldericon-"></i>
        Corbeille
      </ion-item>

      <div class="item item-divider"></div>

      <ion-item href="#/app/messagerie/folder/OTHER" ng-click="setCurrentFolder($index)" collection-repeat="folder in folders">
        <i class="foldericon-"></i>
        {{folder.name}}
      </ion-item>
    </div>

  </ion-content>
  <div class="float-button" ng-click="newMail()">
    <span class="height-fix">
      <a class="content ">
        <i class="new-01icon-"> </i>
      </a>
    </span>
  </div>
</ion-view>
