<ion-popover-view class="fit">
  <ion-content>
    <ion-checkbox ng-model="status.publiees" ng-true-value="'Publiees'" ng-false-value="'NoPubliees'">
      Publiées
    </ion-checkbox>
    <ion-checkbox ng-model="status.brouillons" ng-true-value="'Brouillons'" ng-false-value="'NoBrouillons'">
      Brouillons
    </ion-checkbox>
    <ion-checkbox ng-model="status.sousmises" ng-true-value="'Soumises'" ng-false-value="'NoSoumises'">
      Soumises
    </ion-checkbox>
  </ion-content>
</ion-popover-view>
