<ion-popover-view class="fit">
  <ion-header-bar>
    <h1 class = "title">Ordre de lecture</h1>
  </ion-header-bar>
  <ion-content>
    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Lues
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        En cours de validation
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group">
      <div class="item-content">
        Toutes
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
  </ion-content>
</ion-popover-view>
