<ion-view view-title="Fils d'actualité" ng-controller="InfosCtrl">
  <ion-content>

    <ion-checkbox ng-repeat="thread in threads" ng-model="filterThreads[thread.thread_id]">
      <div  class="item item-thumbnail-right item-text-wrap">
        <img ng-src="https://recette-leo.entcore.org{{ thread.thread_icon }}" alt="icone {{thread.title}}">
        <h2>{{thread.title}}</h2>
      </div>
    </ion-checkbox>

    <div ng-repeat="thread in (threads | filter:filterByThread)">
      <p>{{thread.thread_id}}</p>
    </div>

  </ion-content>
</ion-view>
