# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.idea/
bower_components/
config/
.gradle/
config_PROD
config_DEV
jsconfig.json
keyAndroidENT.jks
keystorePCNPROD.jks
build.json
www/libSAVE
www/cssSAVE
.vscode/typings/ionic/ionic.d.ts
.vscode/plugins.json
.vscode/typings/angularjs/angular.d.ts
.vscode/typings/cordova/cordova.d.ts
.vscode/typings/jquery/jquery.d.ts
typings/cordova-typings.d.ts
