<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>250106798274-9rv7u2nfo4qq06p40efa6im1p4c58arf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250106798274-9rv7u2nfo4qq06p40efa6im1p4c58arf</string>
	<key>API_KEY</key>
	<string>AIzaSyBNkNrZ8lnLye_a1nADqpgNjMwFJghHZEs</string>
	<key>GCM_SENDER_ID</key>
	<string>250106798274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paris.openent.pcn</string>
	<key>PROJECT_ID</key>
	<string>ent-mobile-cgi</string>
	<key>STORAGE_BUCKET</key>
	<string>ent-mobile-cgi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250106798274:ios:c280b60c4eb49cc1</string>
	<key>DATABASE_URL</key>
	<string>https://ent-mobile-cgi.firebaseio.com</string>
</dict>
</plist>
