<ion-view view-title="Pronotes" ng-controller="ListingUsersCtrl">

  <!-- <ion-nav-buttons side="right">
    <button ng-if="myUser.type == 'Teacher' class="button button-icon button-clear pencilicon-" ng-click="viewSearch()"></button>
  </ion-nav-buttons> -->

  <ion-content>

    <!-- <div class="divSearch" ng-show="searchIsActive" ">
      <input ng-if="myUser.type == 'Teacher' class="searchInput" ng-model="search" name="search" placeholder="Rechercher...">
    </div> -->

    <ion-list ng-if="search != null && search.length > 0" >
      <div ng-repeat="school in myUser.schools">
        <div ng-repeat="class in school.classes">
            <div ng-repeat="student in school.classes|orderBy|filter:search">
              <ion-item ng-click="openPronotes(student)">
                <h3 class="students">{{student}}</h3>
              </ion-item>
            </div>
        </div>
      </div>
    </ion-list>

    <ion-list ng-if="myUser.type == 'Teacher' && !searchIsActive" >
      <div ng-repeat="school in myUser.schools">
        <h4 ng-attr-class="{{showDetails && 'schools' || 'schoolsItalic' }}" ng-click=" showDetails = ! showDetails">
          <i class="foldericon-"></i>
          {{school.name}}
        </h4>
        <div ng-show="showDetails" ng-repeat="class in school.classes">
            <h4 ng-attr-class="{{showStudents && 'classes' || 'classesItalic' }}" class="classes" ng-click="showStudents = ! showStudents">
              <i class="foldericon-"></i>
              {{class}}
            </h4>
            <div ng-show="showStudents" ng-repeat="student in school.classes|orderBy">
              <ion-item ng-click="openPronotes(student)">
                <h3 class="students">{{student}}</h3>
              </ion-item>
            </div>
        </div>
      </div>
    </ion-list>

    <ion-list ng-if="myUser.type == 'Parent' && !searchIsActive" >
      <h3 class="schools">Mes enfants</h3>
      <div class="classes" ng-repeat="child in myUser.children">
          <ion-item ng-click="openPronotes(child.id)">
            <h3 class="students">{{child.id}}</h3>
          </ion-item>
        </h4>
      </div>
    </ion-list>

    <div ng-if="myUser.type == 'Student'" class="buttonCenter">
      <button class="button button-full button-positive"
                ng-click="goToPronote(myUser.displayName)">
            Acceder à mon Pronote
      </button>
    </div>

  </ion-content>

</ion-view>
