.schools{
  position: relative;
  width: 80%;
  color: red;
  font-style: normal;
  padding: 1%;
  padding-left: 6%;
}

.schoolsItalic{
  position: relative;
  width: 80%;
  color: red;
  font-style: italic;
  padding: 1%;
  padding-left: 4%;
  opacity: 0.5;
}

.classes{
  position: relative;
  color: black;
  width: 80%;
  padding: 1%;
  padding-left: 11%;
}

.classesItalic{
  position: relative;
  width: 80%;
  color: black;
  font-style: italic;
  padding: 1%;
  padding-left: 9%;
  opacity: 0.5;
}

.students{
  position: relative;
  color: gray;
  width: 80%;
  padding: 1%;
  padding-left: 12%;
  font-style: oblique;
}

.divsearch{
  margin-top: 3%;
}

.searchInput {
    width: 30%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchInput:focus {
    width: 100%;
}
