.support .button {
  background-color: #ff8500;
  color: #ffffff;
  text-transform: uppercase;
  border-width: 0;
  box-shadow: 1px 1px 4px 0 rgba(100, 100, 100, 0.2);
  width: 98%;
  left: 1%;
}

.support .input-label {
  font-weight: bold;
  margin: 3px;
}

.support > .scroll > .list {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.support #textarea {
  flex: 1;
}

.support .item {
  border-bottom-width: 0px;
  overflow: inherit;
}

.support .list .item-select {
  padding-top: 15px;
  padding-bottom: 17px;
}

.support #subtitle {
  white-space: inherit;
}
