<!-- <ion-view view-title={{doc.name}} >

  <ion-content scroll="false">
    <ion-scroll class="scroll" direction="y" has-bouncing="true" >
      <ion-refresher on-refresh="doRefreshVersions()">
      </ion-refresher>
      <ion-list>
        <ion-item ng-repeat="version in versions track by $index" class="version">
          <i class="downloadicon-" ng-click=downloadVersion(version)></i>

          <div class="item-text-wrap" id=infos>
            <h2>{{version.name}}</h2>
            <h3>{{formatDateLocale(version.date.$date)}}</h3>
            <h3>{{version.userName}}</h3>
            <h4>{{getSizeFile(version.metadata.size)}}</h4>

          </div>
          <i class="ion-trash-a" ng-show="$index != 0" ng-click=deleteVersion(version._id) style="margin-left: 80%;"></i>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>

  <nav mfb-menu position="br" effect="zoomin" active-icon="ion-plus-round" resting-icon="ion-plus-round" toggling-method="click">
    <li>
      <label data-mfb-label={{translationWorkspace["workspace.add.version"]}} class="mfb-component__button--child">
        <i class="mfb-component__child-icon fa fa-code-fork">
        </i>
        <input style="display:none;" type='file' onchange="angular.element(this).scope().addVersion(this)">
      </label>
    </li>
  </nav>
</ion-view> -->
