<ion-view view-title={{doc.name}} >

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="version in versions track by $index" class="version">
        <i class="downloadicon-" ng-click=downloadVersion(version)></i>

        <div class="item-text-wrap" id=infos>
          <h2>{{version.name}}</h2>
          <h3>{{formatDateLocale(version.date.$date)}}</h3>
          <h3>{{version.userName}}</h3>
          <h4>{{getSizeFile(version.metadata)}}</h4>

        </div>
        <i class="ion-trash-a" ng-show="$index != 0" ng-click=deleteVersion(version._id) style="margin-left: 80%;"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
