<ion-view view-title={{doc.folder}} >
  <ion-nav-buttons side="right">
    <!-- <button class="button button-icon button-clear ion-android-more-vertical buttonActionBar" ng-click=openPopover($event)></button> -->
  </ion-nav-buttons>

  <ion-content class="true">
    <div class="card">

      <div class="item item-avatar item-text-wrap">
        <img ng-src="{{getImageUrl(doc.ownerPhoto)}}">
        <h2>{{doc.name}}</h2>
        <h3>{{doc.ownerName}}</h3>
        <p>{{doc.modified ? formatDateLocale(doc.modified) : formatDateLocale(doc.created)}}</p>
      </div>

      <ion-card-content class="item">
        <div class="cardCenter">
          <img class="file-image" ng-src="{{getImageUrl(doc.icon_image)}}" >
        </div>

        <div class="comment"  ng-show="post.comments.length != 0">
          <p  ng-click="toggleComments(doc)" ng-class="{active: areCommentsShown(doc)}" class="subdued">
            {{getCountComments(doc)}}
          </p>
          <ion-item class="item-accordion item-text-wrap"  ng-repeat="comment in doc.comments track by $index"  ng-show="areCommentsShown(doc)">
            <h3>{{comment.authorName}}, {{formatDateLocale(comment.posted)}}</h3>
            <p>{{comment.comment}}</p>
          </ion-item>
        </div>

      </ion-card-content>

      <div class="item">
        <a class="subdued" ng-click='commentDoc()'>
          <i class="ion-chatbox comment-button"></i>
          {{translationWorkspace["workspace.comment"]}}
        </a>

      </div>
    </div>
  </ion-content>

  <nav mfb-menu position="br" effect="zoomin" active-icon="ion-plus-round" resting-icon="ion-plus-round" toggling-method="click">
    <button mfb-button icon="downloadicon-" ng-click="downloadDoc()" template-url="ng-mfb-button-no-label.tpl.html"></button>

    <!-- <button mfb-button icon="fa fa-code-fork " ng-click="versions()" label={{translationWorkspace["workspace.versions.list"]}}></button> -->
    <button mfb-button icon="ion-trash-a" ng-click="trashDoc()" label={{translationWorkspace["workspace.delete"]}}></button>
    <button mfb-button icon="ion-edit" ng-click="renameDoc()" label={{translationWorkspace["workspace.rename"]}}></button>
    <!-- <button mfb-button icon="fa fa-clone" ng-click="copyDoc()" label={{translationWorkspace["workspace.copy"]}}></button> -->

    <!-- <li>
      <label data-mfb-label={{translationWorkspace["workspace.add.document"]}} class="mfb-component__button--child">
        <i class="mfb-component__child-icon fa fa-upload">
        </i>
        <input style="display:none;" type='file' onchange="angular.element(this).scope().addDocument(this)">
      </label>
    </li> -->
  </nav>

</ion-view>
