<ion-view view-title={{doc.folder}} >

  <ion-content>
    <div class="card">

      <div class="item item-avatar item-text-wrap">
        <img ng-src="{{getImageUrl(doc.ownerPhoto)}}">
        <h2>{{doc.name}}</h2>
        <h3>{{doc.ownerName}}</h3>
        <p>{{doc.modified ? formatDateLocale(doc.modified) : formatDateLocale(doc.created)}}</p>
      </div>

      <ion-card-content class="item">
        <div class="cardCenter">
          <img class="file-image" ng-src="{{getImageUrl(doc.icon_image)}}" >
        </div>

        <div class="comment"  ng-show="post.comments.length != 0">
          <p  ng-click="toggleComments(doc)" ng-class="{active: areCommentsShown(doc)}" class="subdued">
            {{getCountComments(doc)}}
          </p>
          <ion-item class="item-accordion item-text-wrap"  ng-repeat="comment in doc.comments track by $index"  ng-show="areCommentsShown(doc)">
            <h3>{{comment.authorName}}, {{formatDateLocale(comment.posted)}}</h3>
            <p>{{comment.comment}}</p>
          </ion-item>
        </div>

      </ion-card-content>

      <div class="item">
        <a class="subdued" ng-click='commentDoc()'>
          <i class="ion-chatbox comment-button"></i>
          {{translationWorkspace["workspace.comment"]}}
        </a>

      </div>
    </div>
  </ion-content>

  <nav mfb-menu position="br" effect="zoomin" label="hover here"
  active-icon="ion-plus-round" resting-icon="ion-plus-round"
  toggling-method="click">
  <button mfb-button icon="downloadicon-" ng-click="downloadDoc()"></button>
  <button mfb-button icon="ion-edit" ng-click="renameDoc()"></button>

</nav>
<!-- <div class="float-button-workspace" ng-click='downloadDoc(doc)'>
<span class="height-fix">
<a class="content ">
<i class="downloadicon-"> </i>
</a>
</span>
</div>
-->
<!-- <nav mfb-menu position="br" effect="zoomin" label="hover here"
active-icon="ion-plus-round" resting-icon="ion-plus-round"
toggling-method="click">
<button mfb-button icon="downloadicon-" ng-click=downloadDoc()></button>
<button mfb-button icon="pencilicon-" ng-click=renameDoc()></button>

</nav> -->

</ion-view>
