<ion-view view-title="{{ getTitle() }}">
  <ion-content>
    <ion-tree-list
      items="tasks"
      collapsed="false"
      template-url="workspace/move_copy_tree.html"
    ></ion-tree-list>
  </ion-content>

  <div class="float-button-ok" ng-click="selectFolder(choosenFolder)">
    <span class="height-fix">
      <a class="content"> <i class="okicon-"> </i> </a>
    </span>
  </div>

  <div class="float-button-newFolder" ng-click="newFolder(choosenFolder)">
    <span class="height-fix">
      <a class="content"> <i class="folder-open-2icon-"> </i> </a>
    </span>
  </div>
</ion-view>
