<ion-view view-title="{{nbItems}} à partager" ng-controller="ShareItemController" >

  <ion-nav-buttons side="left" >
      <label class="item-input-wrapper textbox-search search-custom-header-label" ng-if="hasFilters">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Rechercher" class="input-search-header-custom">
      </label>
  </ion-nav-buttons>
  <ion-nav-title ng-show="!hasFilters">
      Partage des documents
  </ion-nav-title>
  <ion-nav-buttons side="right">
      <a data-tap-disabled="true" class=" button button-icon icon positive" ng-click="openFilters()" ng-class="{'ion-search':!hasFilters,'ion-close-circled':hasFilters}"></a>
  </ion-nav-buttons>

  <ion-header-bar class="bar bar-subheader">
    <ion-item id="sep_selected" class="item-text-wrap item-borderless" >
        <h2><font color="#0069a1">{{headerList}}</font></h2>
    </ion-item>
  </ion-header-bar>

  <ion-content class="has-header">
    <ion-scroll on-scroll="onScroll()" direction="y" style="width:100%;height:100%" has-bouncing="true">
      <ion-list>
        <ion-item ng-repeat="contact in contactsSelected | limitTo: 50" class="item-text-wrap" ng-class="{'item-borderless':$index==0}" >
          <div class="checkbox-list-item" style="padding:1%" ng-click=" showToggle = ! showToggle">
            <div  style="display:inline-block;vertical-align: middle" >
              <h2 ng-style="(consult||contrib||gerer||comment) ? {color:'blue'}:{color:'black'}">{{contact.displayName}}</h2>
              <h3><font color="#cecece">{{contact.profile}}</font></h3>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-item id="sep_selected" class="item-text-wrap" >
        <h2><font color="#0069a1">Contacts par groupe</font></h2>
      </ion-item>
      <ion-list>
        <ion-item ng-repeat="contactGroup in contactsGroup | limitTo: 50" class="item-text-wrap" >
          <div ng-if="true">
            <div class="checkbox-list-item" style="padding:1%" ng-click=" showToggle = ! showToggle">
              <div  style="display:inline-block;vertical-align: middle" >
                <h2 ng-style="(consult||contrib||gerer||comment) ? {color:'blue'}:{color:'black'}">{{contactGroup.displayName}}</h2>
              </div>
            </div>
            <table ng-show="showToggle" style="width:100%;margin-top:4%;">
              <tr>
                <td align="center">
                  <h3 ng-style="consult ? {color:'green'}:{color:'#cecece'}">Consulter</h3>
                  <label class="toggle">
                     <input type="checkbox" ng-model="consult" ng-checked="contrib ? (consult=true): gerer ? (consult=true) : comment ? (consult=true):consult" >
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </td>
                <td align="center">
                  <h3 ng-style="contrib ? {color:'green'}:{color:'#cecece'}">Contribuer</h3>
                  <label class="toggle">
                     <input type="checkbox" ng-model="contrib" ng-checked="consult ? (gerer ? (contrib=true):contrib) : (contrib=false)">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </td>
                <td align="center">
                  <h3 ng-style="gerer ? {color:'green'}:{color:'#cecece'}">Gérer</h3>
                  <label class="toggle">
                     <input type="checkbox" ng-model="gerer" ng-checked="consult ? gerer : (gerer=false)">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </td>
                <td align="center">
                  <h3 ng-style="comment ? {color:'green'}:{color:'#cecece'}">Commenter</h3>
                  <label class="toggle">
                     <input type="checkbox" ng-model="comment" ng-checked="consult ? comment : (comment=false)">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </td>
              </tr>
            </table>
          </div>
        </ion-item>
      </ion-list>
      <ion-item id="group" class="item-text-wrap" >
        <h2><font color="#0069a1">Contacts</font></h2>
      </ion-item>
      <ion-list>
        <ion-item ng-repeat="contact in contactsSolo | limitTo: 50" class="item-text-wrap" ng-class="{'item-borderless':$index==0}" >
          <div class="checkbox-list-item" style="padding:1%" ng-click=" showToggle = ! showToggle">
            <div  style="display:inline-block;vertical-align: middle" >
              <h2 ng-style="(consult||contrib||gerer||comment) ? {color:'blue'}:{color:'black'}">{{contact.displayName}}</h2>
              <h3><font color="#cecece">{{contact.profile}}</font></h3>
            </div>
          </div>
        </ion-item>
      </ion-list>

    </ion-scroll>
  </ion-content>

</ion-view>
