<ion-view cache-view="false">
  <ion-nav-title>{{getTitle()}}</ion-nav-title>
  <ion-nav-buttons side="right" >
    <button class="button button-icon button-clear ion-android-more-vertical buttonActionBar" ng-click=openPopover($event) ng-show=checkable ></button>
  </ion-nav-buttons>

  <ion-content scroll="false">
    <ion-scroll ng-if="folders.length>0 || documents.length>0" class="scroll" direction="y" has-bouncing="true" >
      <ion-refresher pulling-text="{{translationWorkspace[loading]}}" on-refresh="doRefresh()"></ion-refresher>

      <ion-list >
        <ion-checkbox ng-repeat="folder in folders track by $index" ng-model="folder.checked" ng-show=checkable class="checkbox-list-item">
          <div ng-click="gotInDepthFolder(folder)" class="item item-text-wrap center-image-item" style="display: flex;">
            <i class="folder-open-2icon- icon-file" ></i>
            <div class="info-file margin-text-item">
              <h2>{{folder.name}}</h2>
              <h3>{{folder.ownerName}}</h3>
            </div>
            <i style="opacity:0.7;float:right;" class="ion-android-share icon-share-custom" ng-show="folder.shared != null && folder.shared.length > 0 && isMyDocuments()"></i>
          </div>
        </ion-checkbox>

        <ion-item ng-repeat="folder in folders track by $index" class="item item-text-wrap center-image-item" on-hold="enableCheck(folder)" ng-hide=checkable >
          <div style="display: flex;">
            <div ng-click="gotInDepthFolder(folder)" style="width: 90%;">
              <i class="folder-open-2icon- icon-file" ></i>
              <div class="info-file margin-text-item">
                <h2>{{folder.name}}</h2>
                <h3>{{folder.ownerName}}</h3>
              </div>
            </div>
            <i style="opacity:0.7" class="ion-android-share icon-share-custom" ng-show="folder.shared != null && folder.shared.length > 0 && isMyDocuments()"></i>
            <!-- <div ng-click="toggleComments(folder)" ng-class="{active: areCommentsShown(folder)}" class="subdued numberCircle" ng-show="folder.comments.length>0">
            {{folder.comments.length }}
          </div> -->
          </div>
        <!-- <ion-list>
        <ion-item class="item-accordion item-text-wrap"  ng-repeat="comment in folder.comments track by $index" ng-show="areCommentsShown(folder)" >
        <h3>{{comment.authorName}}, {{formatDateLocale(comment.posted)}}</h3>
        <p>{{comment.comment}}</p>
      </ion-item>
    </ion-list>
    <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click=''>
    <i class="icon ion-chatbox"></i>
    {{translationWorkspace["workspace.comment"]}}
  </a>
</div> -->

        </ion-item>
      </ion-list>

      <div class="item item-divider" ng-show="folders.length>0 && documents.length>0"></div>

      <ion-list>

        <ion-item ng-repeat="doc in documents track by $index" class="item item-text-wrap item-thumbnail-left " ng-click="goToFile(doc)"  on-hold="enableCheck(doc)" ng-hide=checkable >
          <img ng-src={{getImageUrl(doc.icon_image)}}></img>
          <h2>{{doc.name}}</h2>
          <h3>{{doc.ownerName}}</h3>
          <i style="opacity:0.7" class="ion-android-share icon-share-custom" ng-show="doc.shared != null && doc.shared.length > 0 && isMyDocuments()"></i>
        </ion-item>

        <ion-checkbox ng-repeat="doc in documents track by $index" ng-model="doc.checked" ng-show=checkable class="checkbox-list-item">
          <div ng-click="goToFile(doc)" class="item item-text-wrap item-thumbnail-left" >
            <img ng-src={{getImageUrl(doc.icon_image)}}></img>
            <h2>{{doc.name}}</h2>
            <h3>{{doc.ownerName}}</h3>
            <i style="opacity:0.7" class="ion-android-share icon-share-custom" ng-show="doc.shared != null && doc.shared.length > 0 && isMyDocuments()"></i>
          </div>
        </ion-checkbox>
      </ion-list>

      <div ng-if="folders.length==0 && documents.length==0" class="empty-content">
          Ce dossier est actuellement vide
      </div>

    </ion-scroll>

  </ion-content>

<nav id="actionMenu" mfb-menu position="br" effect="zoomin" active-icon="ion-plus-round" resting-icon="ion-plus-round" toggling-method="click" ng-show=isMyDocuments()&&!checkable>
  <li>
    <label data-mfb-label={{translationWorkspace["workspace.add.document"]}} class="mfb-component__button--child">
      <i class="mfb-component__child-icon fa fa-upload">
      </i>
      <input style="display:none;" type='file' onchange="angular.element(this).scope().addDocument(this)">
    </label>
  </li>
  <button mfb-button icon="folder-open-2icon-" ng-click="newFolder()" label={{translationWorkspace["folder.new.title"]}}></button>

</nav>
</ion-view>
