.icon-blue {
    color: #4BAFD5;
}

.icon-file {
  vertical-align: -webkit-baseline-middle;
}

.info-file {
  display: inline-table;
}

.file-image{
    max-width: 100%;
    height: auto;
}

.doc_icon{
  font-size: 120px;
}

.cardImage{
  margin: 10%;
}

.doc_comments{
  margin-top: 10%;
}
