.custom-icon-arrow{
  color: #66B5DF
}

.icon-blue {
  color: #4BAFD5;
}

.icon-file {
  vertical-align: -webkit-baseline-middle;
}

.info-file {
  display: inline-table;
}

.file-image{
  max-width: 100%;
  height: auto;
}

.doc_icon{
  font-size: 120px;
}

.cardImage{
  margin: 10%;
}

.doc_comments{
  margin-top: 10%;
}

.search-custom-header-label{
  background-color: rgba(76, 175, 80, 0);
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 1% ;
}

.toggle-blue input:checked + .track {
    background-color:#66B5DF;
    border-color:#66B5DF;
}

.white-icon-ion-close-round{
  color : white ;
}

.input-search-header-custom{
  color : #ffffff ;
  background-color: rgba(76, 175, 80, 0);
  border: none;
}

.input-search-header-custom::-webkit-input-placeholder {
  color: white !important;
}
.input-search-header-custom::-moz-placeholder {
  color: white !important;
}
.input-search-header-custom::-ms-input-placeholder { /* IE10+ */
  color: white !important;
}

.float-button-workspace {

  background-color:#FF8500;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  /*border-radius:15% 0 0 0;*/
  width: 30px;
  padding: 25px;
  font-size: 20px;
  position: fixed;
  bottom: 5%; /* Adjust height */
  right: 5%; /* Adjust position */
  z-index: 1000;
}

.float-button-workspace .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button-workspace .content {
  position: absolute;
  left: 0;
  top: 70%;
  height: 100%;
  width: 100%;
  text-align: center !important;
  margin-top: -20px;
  color: white;
}

.float-button-ok {

  background-color:#FF8500;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  /*border-radius:15% 0 0 0;*/
  width: 30px;
  padding: 25px;
  font-size: 20px;
  position: fixed;
  bottom: 5%; /* Adjust height */
  right: 5%; /* Adjust position */
  z-index: 1000;
}

.float-button-ok .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button-ok .content {
  position: absolute;
  left: 0;
  top: 70%;
  height: 100%;
  width: 100%;
  text-align: center !important;
  margin-top: -20px;
  color: white;
}

.float-button-newFolder {

  background-color:#FF8500;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  /*border-radius:15% 0 0 0;*/
  width: 30px;
  padding: 25px;
  font-size: 20px;
  position: fixed;
  top: 10%; /* Adjust height */
  right: 5%; /* Adjust position */
  z-index: 1000;
}

.float-button-newFolder .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button-newFolder .content {
  position: absolute;
  left: 0;
  top: 70%;
  height: 100%;
  width: 100%;
  text-align: center !important;
  margin-top: -20px;
  color: white;
}

.comment-button{
  font-size: x-large;
  vertical-align: middle;
}

#infos{
  width: 75%;
  margin-left: 12%;
}

.version i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: x-large;
}

.folder_renderer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background: transparent !important;
}

.hook-list{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.choosenFolder{
  position: absolute !important;
  top: 40% !important;
  transform: translateY(-50%);
}

.fill-input{
  width: 100%;
  height: 100%;
}

.icon-share-custom{
  color:#cecece;
}

.checkbox-list-item{
  padding-top: 0;
  padding-bottom: 0;
  width:100%;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #FF8500;
    color: white;
    text-align: center;
}
