<ion-view
  hide-back-button="true"
  view-title="{{ translationBlog['blog.title'] }}"
>
  <ion-content scroll="false">
    <ion-scroll class="scroll" direction="y" has-bouncing="true">
      <ion-refresher pulling-text="Actualiser" on-refresh="doRefreshBlogs()">
      </ion-refresher>

      <div ng-if="blogs.length>0">
        <ion-list>
          <a
            ng-repeat="blog in blogs track by $index"
            class="item item-thumbnail-left item-text-wrap"
            ng-click="goToBlog(blog)"
          >
            <img http-src="{{ getImageUrl(blog.thumbnail) }}" />
            <h2>{{ blog.title }}</h2>
            <h3>{{ blog.description }}</h3>
            <h4>{{ translationBlog["blog.by"] }} {{ blog.author.username }}</h4>
          </a>
        </ion-list>
      </div>
    </ion-scroll>

    <div ng-if="blogs.length==0" class="empty-content">
      Pas de blogs disponibles
    </div>
  </ion-content>
</ion-view>
