<ion-nav-bar no-tap-scroll="true" align-title="left" class="bar-positive">
  <ion-nav-back-button
    ng-show="hasBackView()"
    ng-click="doCustomBack()"
  ></ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>

<ion-footer-bar ng-show="displayBar()" class="bar-assertive has-tabs menu-bar">
  <div class="menu-button" ng-class="{active : isHomeActive()}">
    <i class="button icon-left ion-home" ui-sref="app.timeline_list"></i>
    <span class="menu-button-text">Accueil</span>
  </div>
  <div class="menu-button" ng-class="{active : isMessagerieActive()}">
    <i class="button icon-left ion-chatbox" ui-sref="app.messagerie"></i>
    <span class="menu-button-text">Messagerie</span>
  </div>
  <div
    class="menu-button apps-menu-button"
    ng-class="{active : isGridActive()}"
  >
    <div
      class="menu-grid menu-grid-item apps-menu-button"
      ng-class="{ hidden: isGridHidden() }"
    >
      <div class="arrow-down">▼</div>
      <div class="grid">
        <div
          ng-repeat="menu in listMenu"
          ng-click="gridButton(menu.state)"
          class="menu-grid-item grid-item"
        >
          <i
            class="{{ menu.icon }} menu-grid-item"
            ng-class="{pronote : menu.name === 'Pronote'}"
            style="display:block;margin-bottom: 5px;"
          ></i>
          <span class="menu-grid-item"> {{ menu.name }} </span>
          <span
            class="badge badge-assertive"
            ng-if="menu.name==='Messagerie'"
            ng-show="badgeMessagerie!=0"
            >{{ badgeMessagerie }}</span
          >
        </div>
      </div>
    </div>
    <i
      class="button icon-left ion-grid apps-menu-button"
      ng-click="triggerGrid()"
    ></i>
    <span class="menu-button-text apps-menu-button">Applications</span>
  </div>
  <div class="menu-button" ng-class="{active : isProfileActive()}">
    <i class="button icon-left ion-person" ui-sref="app.profile"></i>
    <span class="menu-button-text">Profil</span>
  </div>
</ion-footer-bar>
