<ion-view ng-controller="MessagesDetailCtrl">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-reply" ng-show=isInbox()  ng-click=editMail('REPLY_ONE')></button>
    <button class="button button-icon button-clear ion-reply-all" ng-show=isInbox() ng-click=editMail('REPLY_ALL')></button>
    <button class="button button-icon button-clear ion-forward" ng-hide="isDraft()" ng-click=editMail('FORWARD')></button>
    <button class="button button-icon button-clear pencilicon-" ng-show=isDraft() ng-click=editMail('DRAFT')></button>
    <button class="button button-icon button-clear ion-android-more-vertical buttonActionBar" ng-click=openPopover($event)></button>
  </ion-nav-buttons>

  <ion-content>

    <div class="item">
      <h2>{{mail.subject}}</h2>
    </div>

    <div class="item-text-wrap">
      <div class="header-mail item">
        <h2>{{translationConversation["transfer.from"]}} {{mail.from[0].displayName}}</h2>

        <h2>
          <span>{{translationConversation["transfer.to"]}}</span>
          <span ng-repeat="personTo in mail.to track by personTo.entId">{{personTo.displayName}}<br/></span>
        </h2>

        <h2 ng-show="mail.cc.length != 0">
          <span>{{translationConversation["transfer.cc"]}}</span>
          <span ng-repeat="personCc in mail.cc track by personCc.entId" >{{personCc.displayName}}<br/></span>
        </h2>

        <h2 >
          <span>{{translationConversation["transfer.date"]}}</span>
          <span >{{mail.date | date: fulldate}}<br/></span>
        </h2>
      </div>

      <div class="item-text-wrap item corpsMessage" ng-bind-html= "renderHtml(mail.body)"></div>

      <!-- <div class="list" ng-show=mail.attachments.length!=0>

        <div ng-repeat="attachment in mail.attachments track by $index" class="pj" >
          <button class=" button icon-left downloadicon- attachment item-text-wrap" ng-click="downloadAttachment(attachment.id)" >
            <p> {{attachment.filename}}</p>
          </button>
        </div>
      </div> -->

      <div class="item" ng-show=mail.attachments.length!=0>
        <ion-list>
          <div ng-repeat="attachment in mail.attachments track by $index">
            <div class="ajoutPJ item-text-wrap">
              <i class="downloadicon-"  ng-click="downloadAttachment(attachment.id)"></i>
              <p>{{attachment.filename}} ({{getSizeFile(attachment)}})</p>
              <i class="cancel-circledicon-" ng-click="deleteAttachment($index)"></i>
            </div>
          </div>
        </ion-list>
      </div>

    </div>
  </ion-content>
</ion-view>
