<ion-view
  view-title="{{
    isCheckEnabled() ? getCheckedNumber() : getNameFolder(nameFolder)
  }}"
>
  <ion-nav-buttons side="right">
    <button
      class="button button-icon button-clear ion-android-more-vertical buttonActionBar"
      ng-click="popover.show($event)"
      ng-show="isCheckEnabled()"
    ></button>
  </ion-nav-buttons>

  <ion-content
    ng-show="extraFolders.length>0 || messages.length>0"
  >
    <ion-refresher
    pulling-text="Actualiser"
      on-refresh="doRefreshMessages()"
    >
    </ion-refresher>

    <ion-list>
      <ion-item
        ng-repeat="extraFolder in extraFolders"
        ui-sref="app.message_folder({nameFolder: extraFolder.name, idFolder: extraFolder.id})"
      >
        <i class="folder-open-2icon-"></i>
        {{ getNameFolder(extraFolder.name) }}
        <span ng-show="extraFolder.count>0">({{ extraFolder.count }})</span>
      </ion-item>
    </ion-list>

    <div class="item item-divider" ng-show="extraFolders.length!=0"></div>
    <ion-list>
      <ion-item ng-if="isCheckEnabled()" ng-click="checkAllMessages()">
        <div class="message">
          <input
            type="checkbox"
            ng-model="all.checked"
            ng-checked="allChecked()"
            style="vertical-align: -webkit-baseline-middle;"
          />

          <div class="item-text-wrap" style="float: right; width: 90%;">
            Sélectionner tout
          </div>
        </div></ion-item
      >

      <ion-item
        ng-repeat="message in messages track by $index"
        ng-click="isCheckEnabled()
        ? (message.checked = !message.checked)
        : goToMessage(message);"
        on-hold="message.checked = true"
      >
        <div ng-class="getUnreadMessage(message)">
          <input
            type="checkbox"
            ng-model="message.checked"
            ng-checked="message.checked"
            ng-show="isCheckEnabled()"
          />
          <div
            class="item-text-wrap"
            style="float: right; width: 90%;"
            ng-if="isCheckEnabled()"
          >
            <span class="right">{{ formatDateLocale(message.date) }}</span>
            {{ getRealName(message.from, message.displayNames) }}
            <i class="attachicon-" ng-show="message.hasAttachment"></i>
            <h3>{{ message.subject }}</h3>
          </div>

          <div
            class="item-text-wrap"
            style="float: right; width: 100%;"
            ng-if="!isCheckEnabled()"
          >
            <span class="right">{{ formatDateLocale(message.date) }}</span>
            {{ getRealName(message.from, message.displayNames) }}
            <i class="attachicon-" ng-show="message.hasAttachment"></i>
            <h3>{{ message.subject }}</h3>
          </div>
        </div>

        <ion-option-button
          class="button-assertive"
          ng-click="deleteMessages(message)"
        >
          {{ translationConversation["delete"] }}
        </ion-option-button>
      </ion-item>
      <ion-infinite-scroll
        ng-if="!endReached"
        immediate-check="false"
        on-infinite="loadMore()"
        distance="10%"
      ></ion-infinite-scroll>
    </ion-list>
    <div
      ng-if="extraFolders.length==0 && messages.length==0"
      class="empty-content"
    >
      Pas de message
    </div>
  </ion-content>
  <div class="float-button" ng-click="newMail()">
    <span class="height-fix">
      <a class="content ">
        <i class="new-01icon-"> </i>
      </a>
    </span>
  </div>
</ion-view>
