<ion-view ng-controller="InboxCtrl" ng-cloak>
  <ion-nav-title>{{checkable ? getCountOfCheckedMessages(): getNameFolder(nameFolder)}}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-trash-a buttonActionBar" ng-if=checkable ng-click=deleteSelectedMessages()></button>
    <button class="button button-icon button-clear ion-filing buttonActionBar" ng-if=checkable ng-click=showPopupMove()></button>
    <button class="button button-icon button-clear ion-refresh buttonActionBar" ng-if=canShowRestore() ng-click="restoreMessages()"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher pulling-text="{{translationConversation[updating]}}" on-refresh="doRefreshMessages()">
    </ion-refresher>

    <div ng-if="extraFolders.length==0 && messages.length==0" class="empty-content">
      Pas de message
    </div>

    <div ng-if="extraFolders.length>0 || messages.length>0">
      <ion-list>
        <ion-item ng-repeat="extraFolder in extraFolders" href="#/app/messagerie/{{extraFolder.name}}/{{extraFolder.id}}">
          <i class="folder-open-2icon-"></i>
          {{getNameFolder(extraFolder.name)}} <span ng-show="folder.count>0">({{extraFolder.count}})</span>
        </ion-item>
      </ion-list>

      <div class="item item-divider" ng-show=extraFolders.length!=0 ></div>
      <ion-list>
        <ion-item ng-repeat="message in messages track by $index" ng-click="doAction($index)" on-hold="enableCheckMessages($index)">

          <div ng-if="!message.unread" class="message">
            <input type="checkbox" ng-model="message.checked" ng-checked = "message.checked" ng-show=checkable style="vertical-align: -webkit-baseline-middle;">

            <div  class="item-text-wrap" style="float: right; width: 90%;" ng-if=checkable>
              <span class="right">{{formatDateLocale(message.date)}}</span>
              {{getRealName(message.from, message.displayNames)}}
              <i class="attachicon-" ng-show="message.attachments.length != 0"></i>
              <h3>{{message.subject}}</h3>
            </div>

            <div class="item-text-wrap" style="float: right; width: 100%;" ng-if=!checkable>
              <span class="right">{{formatDateLocale(message.date)}}</span>
              {{getRealName(message.from, message.displayNames)}}
              <i class="attachicon-" ng-show="message.attachments.length != 0"></i>
              <h3>{{message.subject}}</h3>
            </div>
          </div>

          <div ng-if="message.unread" class="unreadMessage">
            <input type="checkbox" ng-model="message.checked" ng-checked = "message.checked" ng-show=checkable>
            <div  class="item-text-wrap" style="float: right; width: 90%;" ng-if=checkable>
              <span class="right">{{formatDateLocale(message.date)}}</span>
              {{getRealName(message.from, message.displayNames)}}
              <i class="attachicon-" ng-show="message.attachments.length != 0"></i>
              <h3>{{message.subject}}</h3>
            </div>

            <div class="item-text-wrap" style="float: right; width: 100%;" ng-if=!checkable>
              <span class="right">{{formatDateLocale(message.date)}}</span>
              {{getRealName(message.from, message.displayNames)}}
              <i class="attachicon-" ng-show="message.attachments.length != 0"></i>
              <h3>{{message.subject}}</h3>
            </div>

          </div>

          <ion-option-button class="button-assertive" ng-click="deleteMessage(message)">
            {{translationConversation["delete"]}}
          </ion-option-button>

        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <div class="float-button" ng-click="newMail()">
    <span class="height-fix">
      <a class="content ">
        <i class="new-01icon-"> </i>
      </a>
    </span>
  </div>
</ion-view>
