<ion-view view-title="Messagerie"  ng-controller="MessagerieFoldersCtrl">

  <ion-content>
    <ion-refresher pulling-text="Actualiser" on-refresh="doRefreshFolders()">
    </ion-refresher>

    <ion-list>
      <div ng-repeat="folder in folders track by $index">
        <ion-item href="#/app/messagerie/folder/{{folder.id}}">
          <i class="foldericon-"></i>
          {{folder.name}}
        </ion-item>
        <div class="item item-divider" ng-show=addSeparator($index)></div>
      </div>
    </ion-list>

  </ion-content>
  <div class="float-button" ng-click="newMail()">
    <span class="height-fix">
      <a class="content ">
        <i class="new-01icon-"> </i>
      </a>
    </span>
  </div>
</ion-view>
