.listeDestinataires{
  padding-bottom: 2px;
}

.destinataireMessagerie{
  display: inline-flex;
  background-color:#4BAFD5;
  margin-bottom: 5px;
}

.destinataireMessagerie i{
  margin: auto;
}

.destinataireMessagerie h2{
  color: white;
  margin: 5px
}

.header-mail h2.ng-binding {
  font-size:14px;
}

.header-mail span.ng-binding {
  font-size:14px;
  color:CCC;
}

.pj{
  margin: 5px;
}
