.listeDestinataires{
  padding-bottom: 2px;
}

.destinataireMessagerie{
  display: inline-flex;
  background-color:#4BAFD5;
  margin-bottom: 5px;
}

.destinataireMessagerie i{
  margin: auto;
}

.destinataireMessagerie h2{
  color: white;
  margin: 5px
}

.header-mail h2.ng-binding {
  font-size:14px;
}

.header-mail span.ng-binding {
  font-size:14px;
  color:CCC;
}

.pj{
  margin: 5px;
}

.corpsMessage{
  border-bottom-style: hidden;
}

.unreadMessage{
  font-weight:bold;
}

.unreadMessage i {
  color: #CCC;
  float: right;
  font-weight:bold;
  font-size: 12px;
}
.unreadMessage h2.ng-binding {
  font-size:18px;
  font-weight:bold;
}

.message i {
  color: #CCC;
  float: right;
  font-size: 12px;
}
.message h2.ng-binding {
  font-size:18px;
}

.right {
  color: #387EF5;
  float: right;
  font-size: 12px;
}

.item h3.ng-binding {
  font-size:12px;
  color: #CCC;
}

.ajoutPJ{
  display: inline-flex;
  background: #F0F0F0;
  padding: 2px;
  text-align: center;
  margin-bottom: 5px;
  width: 95%;
}

.ajoutPJ p {
  font-size: 14px;

}
