<ion-popover-view class="fit">
  <ion-content>
    <ion-list>
      <!-- edition -->
      <a class="item" ng-show=isDraft() ng-click=editMail('DRAFT')>{{translationConversation["modify"]}}</a>

      <!-- déplacer -->
      <a class="item"  ng-hide="isTrash()" ng-click=moveMessage(mail.id)>{{translationConversation["move.inside.folder"]}}</a>

      <!-- supprimer -->
      <a class="item"  ng-hide="isTrash()" ng-click=trash(mail.id)>{{translationConversation["delete"]}}</a>

      <!-- restaurer -->
      <a class="item" ng-show="isTrash()" ng-click="restoreMessage(mail.id)">{{translationConversation["restore"]}}</a>

    </ion-list>
  </ion-content>
</ion-popover-view>
