<ion-view view-title={{translationActus["actualites.title"]}} ng-controller="InfosCtrl">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear fa fa-list-ul"  ng-click="goThreads()" ></button>
  </ion-nav-buttons>

  <ion-content >
    <ion-refresher pulling-text="Actualiser" on-refresh="doRefreshInfos()">
    </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="info in filtered=(infos | filter:filterByThread) track by $index" class="card">

        <div class="item item-avatar item-text-wrap">
          <img ng-src="{{getImageUrl(info.thread_icon)}}" alt="icone {{info.thread_title}}"/>
          <h2>{{info.title}}</h2>

          <h3>{{translationActus["actualites.info.label.author"]}} {{info.username}}</h3>
          <p>{{(info.publication_date ? formatDate(info.publication_date) : formatDateLocale(info.modified))}}</p>
        </div>

        <ion-card-content class="item actucard " overflow-scroll="true">

          <div class="item-text-wrap" ng-bind-html=renderHtml(info.content)></div>

          <div ng-show="info.comments !=  null">
            <p  ng-click="toggleComments(info)" ng-class="{active: areCommentsShown(info)}" class="subdued comment">
                {{getCountComments(info, areCommentsShown(info))}}
            </p>
            <ion-item class="item-accordion commentActualites"  ng-repeat="item in info.comments track by $index"  ng-show="areCommentsShown(info)">
              <h3>{{item.username}}, {{formatDateLocale(item.modified)}}</h3>
              <p>{{item.comment}}</p>
            </ion-item>

          </div>
        </ion-card-content>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
