.actucard h1 {
  font-size: 14px;
}

.actucard a {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

.threadCenterText h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
