<ion-view view-title="Sélection des fils">
  <ion-content scroll="false">
    <ion-scroll
      ng-if="threads.length>0"
      class="scroll"
      direction="y"
      has-bouncing="true"
    >
      <ion-refresher pulling-text="Actualiser" on-refresh="doRefreshThreads()">
      </ion-refresher>

      <ion-list>
        <ion-checkbox
          ng-repeat="thread in threads"
          ng-model="filterThreads[thread.thread_id]"
        >
          <div class="item item-thumbnail-right item-text-wrap">
            <img
              http-src="{{ getImageUrl(thread.thread_icon) }}"
              alt="icone {{ thread.title }}"
            />
            <h2 class="item-text-wrap">{{ thread.title }}</h2>
          </div>
        </ion-checkbox>
      </ion-list>
    </ion-scroll>

    <div ng-if="threads.length==0" class="empty-content">
      Aucun filtre disponible
    </div>
  </ion-content>
</ion-view>
