<ion-view hide-nav-bar="true">
  <ion-content scroll="false" class="fondbleu flex">
    <div style="flex: 0; align-self: flex-start; margin: auto;"><img src="%ENT_BANNER%" class="img-responsive" /></div>
    <div
      class="flex padding"
      style="  justify-content: center; flex:1
    "
    >
      <p style="color: white; font-size: 16px;">
        Bonjour,
      </p>
      <p style="color: white; font-size: 16px;">
        La Ville de Paris vous remercie d’avoir participé à l’expérimentation de
        l’application mobile Paris Classe Numérique et d’avoir contribué à son
        développement. Celle-ci est maintenant terminée et cette version de
        l’application n’est donc plus disponible. Nous vous invitons à
        télécharger la nouvelle version officielle de l’application sur le store
        public en cliquant sur le bouton ci-dessous.
      </p>
      <p style="color: white; font-size: 16px;">
        A très bientôt sur PCN
      </p>

      <br />
      <br />
      <button
        class="button button-block"
        style="background-color: #ff8500; color:white"
        ng-if="isPlatformSupported()"
        ng-click="getDownloadAddress()"
      >
        Accéder à l'application
      </button>
      <span style="color: white; font-size: 18px; text-align: center;" ng-if="!isPlatformSupported()"
        >Désolé, votre téléphone n'est pas supporté.</span
      >
      <br />
      <br />
    </div>
    <div class="version" style="flex: 0; align-self: flex-end"></div>
      <small style="text-align: center;">{{ appName }} v{{ version }}</small>
    </div>
  </ion-content>
</ion-view>
