<ion-view view-title="Connexion">
  <ion-content class="fondbleu">
    <div>
      <img src="img/logo1.png" class="img-responsive">
    </div>
    <div class="list taillelogin">
      <label class="item item-input">
        <!-- <span class="input-label">Identifiant</span> -->
        <input type="text" ng-model="user.username" placeholder="Identifiant">
      </label>
      <label class="item item-input">
        <!-- <span class="input-label">Mot de passe</span> -->
        <input type="password" ng-model="user.password" placeholder="Mot de passe">
      </label>
    </div>
    <div class="padding">
      <button class="button-block button-login" ng-click="doLogin(user)">
        Me connecter !
      </button>
    </div>
  </ion-content>
</ion-view>
