<ion-view hide-nav-bar="true">
  <ion-content class="fondbleu">
    <div><img src="%ENT_BANNER%" class="img-responsive" /></div>
    <div ng-if="wrongLogin" class="wrong-auth">
      L'identifiant ou le mot de passe est incorrect.
    </div>
    <div class="firstco-message success" ng-if="success">
      <span>{{ success }}</span>
    </div>
    <div class="list taillelogin" ng-init="inputType = 'password'">
      <label class="item item-input margin-login">
        <!-- <span class="input-label">Identifiant</span> -->
        <input
          type="text"
          ng-model="user.username"
          placeholder="Identifiant"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
        />
      </label>
      <label class="item item-input margin-login">
        <!-- <span class="input-label">Mot de passe</span> -->
        <input
          type="{{ inputType }}"
          ng-model="user.password"
          placeholder="Mot de passe"
        />
      </label>
      <i
        class="fa"
        ng-class="{'fa-eye-slash' : inputType !== 'password', 'fa-eye' : inputType == 'password'} "
        ng-click="inputType= inputType==='password' ? 'text' : 'password'"
      ></i>
    </div>
    <div>
      <ion-checkbox
        style="color: white"
        class="login-checkbox"
        ng-model="user.rememberMe"
        >Se souvenir de moi</ion-checkbox
      >
    </div>
    <div class="padding">
      <button class="button-block button-login" ng-click="doLogin()">
        Me connecter !
      </button>
      <a class="button-firstco-login" ui-sref="firstConnection">
        Première connexion
      </a>
      <a class="button-firstco-login" ui-sref="forgotLoginPwd">
        Mot de passe ou identifiant perdu
      </a>
    </div>
    <div class="version">
      <small>{{ appName }} v{{ version }}</small>
    </div>
  </ion-content>
</ion-view>
