<ion-view hide-back-button="true" view-title="Profil">
  <ion-nav-buttons side="right">
    <button
      class="button button-icon button-clear ion-android-more-vertical buttonActionBar"
      ng-click="openPopover($event)"
    ></button>
  </ion-nav-buttons>
  <ion-content class="profile">
    <ion-tabs class="tabs-positive tabs-top">
      <ion-tab title="Utilisateur">
        <ion-view>
          <ion-content class="profileView has-footer">
            <div style="display:table">
              <img
                http-src="{{ getImageUrl(myUser.photo) }}"
                class="profile-pic"
              />
              <h4 class="profile-title">{{ myUser.displayName }}</h4>
            </div>

            <h2 class="profile-sub">
              {{ translationUser["userBook.profile.login"] }}
            </h2>
            <h2 ng-if="!editable" class="profile-info">{{ myUser.login }}</h2>
            <input
              type="text"
              class="profile-edit"
              ng-if="editable"
              ng-model="tempProfile.login"
              spellcheck="false"
            />

            <h2 class="profile-sub">
              {{ translationUser["userBook.profile.firstName"] }}
            </h2>
            <h2 class="profile-info">{{ myUser.firstName }}</h2>

            <h2 class="profile-sub">
              {{ translationUser["userBook.profile.lastName"] }}
            </h2>
            <h2 class="profile-info">{{ myUser.lastName }}</h2>

            <h2 class="profile-sub">
              {{ translationUser["userBook.profile.displayName"] }}
            </h2>
            <h2 ng-if="!editable" class="profile-info">
              {{ myUser.displayName }}
            </h2>
            <input
              type="text"
              class="profile-edit"
              ng-if="editable"
              ng-model="tempProfile.displayName"
              spellcheck="false"
            />

            <h2 class="profile-sub">
              {{ translationUser["userBook.profile.email"] }}
            </h2>
            <h2 ng-if="!editable" class="profile-info">{{ myUser.email }}</h2>
            <input
              type="text"
              class="profile-edit"
              ng-if="editable"
              ng-model="tempProfile.email"
              spellcheck="false"
            />

            <h2 class="profile-sub">
              {{ translationUser["userBook.profile.mobilePhone"] }}
            </h2>
            <h2 ng-if="!editable" class="profile-info">
              {{ myUser.mobile || "-" }}
            </h2>
            <input
              type="tel"
              class="profile-edit"
              ng-if="editable"
              ng-model="tempProfile.mobile"
              spellcheck="false"
            />

            <h2 class="profile-sub">
              {{ translationUser["userBook.profile.birthdate"] }}
            </h2>
            <h2 class="profile-info">{{ formatDate(myUser.birthDate) }}</h2>

            <h2 class="profile-sub">
              {{ translationUser["userBook.profile.schools"] }}
            </h2>
            <h2 class="profile-info" ng-repeat="structure in myUser.schools">
              {{ structure.name }}
            </h2>

            <h2 class="profile-sub">Version de l'application</h2>
            <h2 class="profile-info">{{ version }}</h2>
          </ion-content>
        </ion-view>
      </ion-tab>
      <ion-tab title="Notifications">
        <ion-view>
          <ion-content class="has-footer">
            <div class="list actions-list">
              <div
                ng-repeat="appli in applis | orderBy:'translation' track by $index"
                ng-if="appli.notifications.length > 0"
              >
                <div
                  class="item item-divider"
                  ng-click="settings.app === $index ? settings.app = undefined : settings.app = $index"
                >
                  <h4>
                    {{ appli.translation }}
                    <i
                      class="fa fa-chevron-right"
                      ng-class="{rotate: settings.app === $index}"
                    ></i>
                  </h4>
                </div>
                <div
                  ng-show="settings.app === $index"
                  class="notifications-list"
                >
                  <div class="item" ng-repeat="action in appli.notifications">
                    <label
                      class="toggle"
                      ng-init="preferences.config[action]['push-notif'] = preferences.config[action].hasOwnProperty('push-notif')
                      ? preferences.config[action]['push-notif'] : appsMapped[action]['push-notif']"
                    >
                      <input
                        type="checkbox"
                        ng-model="preferences.config[action]['push-notif']"
                        ng-checked="preferences.config[action]['push-notif']"
                      />
                      <div class="track"><div class="handle"></div></div>
                    </label>
                    <div class="action-label">{{ translations[action] }}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="spinner-container">
              <ion-spinner icon="android" ng-show="loader.preferences"
                >&nbsp;</ion-spinner
              >
            </div>
            <button
              class="button"
              ng-hide="loader.preferences"
              ng-click="updatePreferences()"
            >
              Enregistrer
            </button>
          </ion-content>
        </ion-view>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>
