ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.actucard img, iframe{
    max-width:100%;
}

.actucard h1 {
  font-size: 14px;
}

.actucard a {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

.actustatus {
  padding-left: 10px !important;
  padding-right: 5px !important;
}

.comment{
  padding-top: 10px !important;
}

.item.item-accordion {
  padding-top: 1;
  padding-bottom: 1;
  transition: 0.09s all linear;
}
.item.item-accordion.ng-hide {
  line-height: 0px;
}
.item.item-accordion.ng-hide-add,
.item.item-accordion.ng-hide-remove {
  display: block !important;
}
