ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.scroll{
  height: 100% !important;
}

.custom-newspaper{
  color : #4bafd5;
}

.custom-folder{
  color : #e13a3a;
}

.custom-pronote{
  color : #763294;
}

.custom-mail{
  color : #ecbe30;
}

.custom-bullhorn{
  color : #ff8500;
}

.center-image-item i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.empty-content{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.margin-text-item {
  margin-left: 10%;
}

.htmlEntContent *{
  max-width:100%;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.buttonActionBar {
  padding-left: 10px !important;
  padding-right: 5px !important;
}

.comment{
  padding-top: 10px !important;
  font-style: italic;
}

.comment h3 {
  font-weight: bold;
}

.comment p {
  color: black;
}

.item.item-accordion {
  padding-top: 1;
  padding-bottom: 1;
  transition: 0.09s all linear;
}
.item.item-accordion.ng-hide {
  line-height: 0px;
}
.item.item-accordion.ng-hide-add,
.item.item-accordion.ng-hide-remove {
  display: block !important;
}

/* add gmn */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 3% 0;
}

.fondbleu {
  background-image: -webkit-linear-gradient(top, #0084CA 70%, #0084CA 30%);
  background-image:    -moz-linear-gradient(top, #0084CA 70%, #0084CA 30%);
  background-image:         linear-gradient(top, #0084CA 70%, #0084CA 30%);
}

.input-label {
  color: #C4C4C4;
}

.button-login {
  color: #FFF;
  background-color: #FF8500;
  border-color: #b2b2b2;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
  cursor: pointer;
}

.taillelogin {
  margin: 0 2%;
  min-width: 52px;
  min-height: 47px;
  border-radius: 2px;
}

.item1 {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px; }

  .item-checkbox1 {
    padding-left: 11%;
  }

  .fill-textarea {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .fileupload-example-5 {
    position: relative;
    overflow: hidden;
  }

  .fileupload-example-5 input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.001
  }

  .cardCenter {
    text-align: center;
  }

  .comment h3{
    font-weight: bold;
  }

  .comment p {
    color: black;
  }

  .dismiss-title .popup-head {
    display: none;
  }
