ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.actucard img, iframe{
  max-width:100%;
}

.actucard h1 {
  font-size: 14px;
}

.actucard a {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}

.actustatus {
  padding-left: 10px !important;
  padding-right: 5px !important;
}

.comment{
  padding-top: 10px !important;
  font-style: italic;
}

.item.item-accordion {
  padding-top: 1;
  padding-bottom: 1;
  transition: 0.09s all linear;
}
.item.item-accordion.ng-hide {
  line-height: 0px;
}
.item.item-accordion.ng-hide-add,
.item.item-accordion.ng-hide-remove {
  display: block !important;
}

.attachment{
  width: 100%;
  height: auto;
}

.middle-attachment{
  position: relative;
  width: 80%;
  background-color: yellow;
  padding: 2%;
  vertical-align: middle;
}
.right-attachment{
  width: 10%;
  position: relative;
  text-align:center;
  vertical-align: middle;
  background-color: red;
}

.left-attachment{
  position: relative;
  width: 10%;
  text-align:center;
  vertical-align: middle;
  background-color: green;
}

.float-button {

background-color:#FF8500;
opacity: 0.9;
color: white;
border-radius: 50%;
/*border-radius:15% 0 0 0;*/
width: 30px;
padding: 25px;
font-size: 20px;
position: fixed;
bottom: 5%; /* Adjust height */
right: 5%; /* Adjust position */
z-index: 1000;
}

.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 75%;
  height: 100%;
  width: 100%;
  text-align: center !important;
  margin-top: -20px;
  color: white;
}

.message i {
  color: #CCC;
  float: right;
  font-size: 12px;
}

.right {
  color: #387EF5;
  float: right;
  font-size: 12px;
}

.message h2.ng-binding {
  font-size:18px;
}

.item h3.ng-binding {
  font-size:12px;
  color: #CCC;
}

.header-mail h2.ng-binding {
  font-size:14px;
}

.header-mail span.ng-binding {
  font-size:14px;
  color:CCC;
}

.pj{
  margin-bottom: 5px;
}
